body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: #000000;
  background-image: url("../starter-code/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.back {
  height: 100vh;
}
.back .imgHamburger {
  display: none;
}

.header {
  color: white;
  display: flex;
  align-items: center;
  height: 80px;
  margin: 35px 0 0 0;
  z-index: 1;
}
.header .imglogo {
  padding: 55px;
  display: flex;
}
.header hr {
  width: 35%;
  height: 1%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0;
  z-index: 2;
}
.header ol {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.07);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  height: 100%;
  padding: 0 5% 0 15px;
}
.header ol a {
  display: block;
  color: bisque;
  text-align: center;
}
.header ol li {
  display: flex;
  justify-content: center;
  justify-content: center;
  justify-items: center;
  flex-flow: column;
  z-index: 1;
}
.header ol li.categ {
  display: none;
}
.header ol li ul {
  display: none;
  flex-flow: column;
  text-align: center;
  margin: 0 0px;
  padding: 0 10px;
}
.header ol li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header ol li:hover {
  text-align: center;
}
.header ol li:hover .categ {
  display: none;
}
.header ol li:hover ul {
  display: block;
}

.site {
  display: flex;
  justify-content: space-around;
  font-family: "Merriweather", serif;
}
.site .left {
  display: flex;
  width: 40%;
  height: 300px;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 0px 0px 100px;
  padding: 50px 0 50px 0;
  line-height: 21px;
}
.site .left h4 {
  padding: 0px 0 0 0;
  font-size: 19px;
  line-height: 1px;
}
.site .left h1 {
  font-size: 130px;
  line-height: 1px;
}
.site .left p {
  padding: 0 0 0px 0;
}
.site .right {
  color: black;
  display: flex;
  align-items: flex-end;
}
.site .right .aroun {
  margin-left: 50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site .right .aroun h3 {
  display: flex;
}

@media only screen and (max-width: 750px) {
  body {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    background-size: 100%;
  }
  body .header {
    margin: 20px 0 0 0;
    height: 50px;
  }
  body .header hr {
    width: 10%;
  }
  body .header ol {
    background-color: rgba(255, 255, 255, 0.0470588235);
    display: flex;
  }
  body .header ol a {
    font-size: 70%;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7803921569);
  }
  body .header ol li ul {
    height: 70px;
    margin-top: 30px;
  }
  body .header ol li ul li a {
    font-size: 14px;
  }
  body .site .left h4 {
    font-size: 80%;
  }
  body .site .left h1 {
    font-size: 80px;
  }
  body .site .left p {
    font-size: 14px;
  }
  body .site .right {
    align-items: center;
    padding-top: 80px;
  }
  body .site .right .aroun {
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 500px) {
  body .back {
    background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
    background-size: 100vh 100vh;
  }
  body .back .imgHamburger {
    display: block;
  }
  body .back .imgHamburger:hover body .back .imgHamburger.header {
    display: block;
    height: 65px;
  }
  body .back .imgHamburger:hover body .back .imgHamburger.header hr {
    display: none;
  }
  body .back .imgHamburger:hover body .back .imgHamburger.header ol {
    background-color: rgba(255, 255, 255, 0.0470588235);
    display: flex;
    width: 70%;
  }
  body .back .imgHamburger:hover body .back .imgHamburger.header ol a {
    font-size: 60%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7803921569);
  }
  body .back .imgHamburger:hover body .back .imgHamburger.header ol li ul {
    height: 85px;
    margin-top: 27px;
  }
  body .back .header {
    display: none;
    height: 65px;
  }
  body .back .header hr {
    display: none;
  }
  body .back .header ol {
    background-color: rgba(255, 255, 255, 0.0470588235);
    display: flex;
    width: 70%;
  }
  body .back .header ol a {
    font-size: 60%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7803921569);
  }
  body .back .header ol li ul {
    height: 85px;
    margin-top: 27px;
  }
  body .back .site .left {
    margin-left: 40px;
  }
  body .back .site .left h4 {
    font-size: 70%;
  }
  body .back .site .left h1 {
    font-size: 90px;
  }
  body .back .site .left p {
    font-size: 12px;
  }
  body .back .site .right {
    align-items: flex-end;
    padding-top: 80px;
  }
  body .back .site .right .aroun {
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}/*# sourceMappingURL=style.css.map */