body{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;   
    background-color: #000000;
    background-image: url('../starter-code/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-position: top center

}
.back{
    height: 100vh;
}
.header{
    color:white;
    display: flex;
    align-items: center;
    height: 80px;
    margin:35px 0 0 0;
    z-index:1;
    
    .imglogo{
        padding: 55px;
        display: flex;
    }
    
    hr{
        width: 35%;
        height: 1%;
        padding:0 0 0 0px;
        margin:0 0 0 0;
        z-index:2;
    }
    ol{
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.07);
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 55%;
        height: 100%;
        padding:0 5% 0 15px;
        a{
            display: block;
            color:bisque;
            text-align: center;
        }
        li{
            &.categ{
                display: none;
            }
            display: flex;
            justify-content: center;
            justify-content: center;
            justify-items: center;
            flex-flow: column;
            z-index:1;
            ul{ 
                display:none;
                flex-flow: column;
                text-align: center;
                margin:0 0px;
                padding:0 10px;
            }
            a{
                text-decoration: none;
                color:rgb(255, 255, 255);                  
            }
            &:hover{
                .categ{
                    display:none;
                }
                text-align: center;
                ul{
                    display:block;
                }
            }

        }
    }
}
.site{
    display: flex;
    justify-content: space-around;
    font-family: 'Merriweather', serif;
    .left{
        display: flex;
        width: 40%;
        height: 300px;
        color:white;
        flex-direction: column;
        justify-content: flex-start;
        margin:0px 0px 0px 100px;
        padding: 50px 0 50px 0;
        line-height: 21px;
        h4{
            padding:0px 0 0 0;
            font-size:19px;
            line-height: 1px;;
        }
        h1{
            font-size: 130px;
            line-height: 1px;;
        }p{
            padding: 0 0 0px 0;
        }
    }
    .right{
        color:black;
        display: flex;
        align-items: flex-end;
        .aroun{
            margin-left: 50px;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
               display: flex;
            }
        }
    }
}



@media only screen and (max-width:750px){
    body{
        background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
        background-size: 100%;
        .header{
            margin:20px 0 0 0;
            height: 50px;
            hr{
                width: 10%;
            }
            ol{
                background-color: #ffffff0c;
                display: flex;
                // justify-content: space-between;
                a{
                    font-size: 70%;
                    font-weight: 400;
                    color:#ffffffc7;
                }
                li{
                    ul{
                        height: 70px;
                        margin-top:30px;
                        li{
                            a{
                                
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .site{
            .left{
                h4{
                    font-size: 80%;
                }
                h1{
                    font-size: 80px;
                }
                p{
                    font-size: 14px;
                }
            }
            .right{
                align-items: center;
                padding-top:80px ;
                .aroun{
                    margin-left: 20px;
                    margin-right: 30px;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}
@media only screen and (max-width:500px){
    body{
        background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
        background-size: 100vh 100vh;
        .header{
            height: 65px;
            hr{
                display: none;
            }
            ol{
                background-color: #ffffff0c;
                display: flex;
                width: 70%;
                // justify-content: space-between;
                a{
                    font-size: 60%;
                    font-weight: 200;
                    color:#ffffffc7;
                }
                li{
                    ul{
                        height: 85px;
                        margin-top:27px;
                        li{
                            a{
                            }
                        }
                    }
                }
            }
        }
        .site{
            .left{
                margin-left: 40px;
                h4{
                    font-size: 70%;
                }
                h1{
                    font-size: 90px;
                }
                p{
                    font-size: 12px;
                }
            }
            .right{
                align-items:flex-end;
                padding-top:80px ;
                .aroun{
                    margin-left: 20px;
                    margin-right: 30px;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}