*{
    box-sizing: border-box;
}
body {
    background-color: rgb(170, 170, 170);
    margin:0;
    padding:0;
    width: 750px;
    height: 100%;
}
.podkladka{
    position:relative;
    background-color: rgba(220, 220, 220, 0.76);
    height: 500px;
    min-height: 100%;
    width: 750px;
    padding:0px 0px 0px 0px;
    box-sizing: border-box;
}
.header{
    background-color: blanchedalmond;
    display:flex;
    width: content;
    height: 40px;
    top:0px;
    justify-content: space-between;
    align-items:center;
    padding:10px 10px 0px 10px;
    min-width: fit-content
}
menu{
}
.lista {
    display:flex;
    justify-content: flex-start;
    min-width: 60%;
}
p img {
    height: 10px;
    margin:0px 0px 0px 15px;
    padding:10 0 10 5px;
}
ul{
    top:0px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
    gap:20px;
    padding-inline-start: 30px;
}
ul > li {
    list-style-type: none;
    padding:0px 0px 0px 0px;
    display:inline-grid;
    
}
ul >li a{
    padding: 0px 0px;
    font-size: 14px;
    color:black;
    
}
.login{
    min-width: 10%;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 0;
}
.login p {
    display:inline-grid;
    padding: 0 20px 0 0;
    font-size: 15px;
    
}
 .wentrze{
    height: 400px;
}
.lewnetrze{
    float:left;
    margin:0px 0px;
    padding:40px 10px 0 30px;
    width: 400px;
    height: 400px;
}
.lewnetrze h1{
    font-size: 54px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    height: 100px ;
    width: 400px;
    padding: 20px 25px 0 30px;
}
.lewnetrze .akapit{
    font-size: 14px;
    height: 50px;
    display: flex;
    align-content: start;
    padding: 0 3px 0 30px;
}
.ikons{
    display: flex;
    justify-content: space-around;
    height: 15px ;
    width: 270px;
    padding: 0 0px 0 49px;
    margin: 0 0px 0 0px;   
}
.ikons img{
    padding-right: 10px;
}
.prawnetrze{
    float: right;
    padding-right: 15px;
    padding-bottom: 15px;
}
.prawnetrze img{
    margin:0px 0px;
    padding:20px 40px 45px 45px;
    height: 390px;
}
.button{
    background-color: black;
    color: white;
    font-size: 14px;
    height: 33px;
    width: 7em;
    padding: 8px 5px 0 17px;
    border-radius: 40px;
    float:left;
    top:0px;
    margin:20px 0 60px 30px;
}
.stopka .attribution{
    position:absolute;
    bottom: 0px;
    left: 30%;
    right: 30%;
}